node_modules
temp
.hytale-downloader-credentials.json
Server
Assets.zip
hytale-server-installer-win.exe
hytale-server-installer-macos
hytale-server-installer-linux
package-lock.json
installer-config.json
installer.log
hytale-downloader.zip
2026.01.17-4b0f30090.zip
bans.json
config.json
HytaleServer.aot
HytaleServer.jar
whitelist.json
Licenses
universe
mods
logs
permissions.json